.Change {
    background-color : #ccc;
    border: 2px solid;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 10px 4px;
    margin: 2px;
    cursor: pointer;
    width: 4%;
    display: inline-block;  
}