.Button {
    background-color: grey;
    width: 80px;
    text-align: center;
    color:red;
    padding: 10px;
    font-size: 18px;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled{
    color: #ccc;
    cursor:  not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}